.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
    margin-top: 10px;
}
a{
    text-decoration: none;
}
.logo h2{
    font-size: 30px;
    color: #ffff;
}
.navbar button{
    border: none;
    width: 100px;
    border-radius: 10px;
}
.navbar button:nth-child(1){
    background-color: #33cc99;
    color: #fff;
}
.navbar button:nth-child(1):hover{
    background-color: transparent;
    border: 1px solid #33cc99;
}
.navbar button:nth-child(2){
    background-color: #cccccc;
    color: #000;
}
.navbar button:nth-child(2):hover{
    background-color: transparent;
    border: #cccccc 1px solid;
    color: #fff;
}
/* .buttons{
    width: 350px;
} */
.top {
    display: flex;
    gap:10px;
}
.logo{
    display: flex;
    gap: 10px;
    align-items: center;
}
.logo img{
    width: 50px;
}


