.login{
    /* margin: auto;
    width: 80%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.start img{
    width: 30px;
    border-radius: 20px;
}
.start{
    display: flex;
    /* text-align: center; */
    align-items: center;
    /* justify-content: space-evenly; */
    gap: 30%;
    background: transparent;
    margin-bottom: 10px;
    /* padding: 5px; */
}
.start h2{
    background: transparent;
    /* color: ; */
}
.form{
    box-shadow: 5px 5px 5px #ccc;
    margin-top:15%;
    padding: 5px;
    /* background: #cccccc; */
    width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* color: #ccc; */

    
    /* background: #cccccc; */

}
.details{
    background: transparent;
    padding-left: 5px;
    padding-right: 5px;
}
a{
    background-color: transparent;
    display: flex;
}

.details form {
    background: transparent;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.details form input, select, option{
    background: transparent;
}


input,select{
    border-radius: 10px;
    height: 30px;
    border: 1px solid #003366;
}
.login-button{
    width: 150px;
    height: 40px;
    background: #33cc99;
    border: none;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-size: 15px;
}
.accept, .accept p {
    background: transparent
}
.accept{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    /* background: transparent; */
}
.login-button div{
    width: fit-content;
    background-color: #33cc99;
    display: flex;
    gap: 5px;
    width: 150px;
    height: 40px;
    margin-left: -5px;
    border-radius: 10px;
    border: none;
    align-items: center;
}

.login-button span, .login-button svg{
    background-color: #33cc99;
    color: white;
    border-radius: 10px;
}
.login-button svg{
    width: 50px;
    height: 40px;
}

.error-success svg, .error-success span{
    background: #ccc;
}
.error-success {
    background: #ccc;
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;

}
.error-success svg{
    width: 50px;
    height: 30px;
}
.signup{
    background: transparent;
    text-align: center;
    display:inline-flex;
    gap: 5px;
    justify-content: center;
}